# R-specific files
.Rhistory
.RData
.Rproj.user/

# Output objects
*.rds
*.RData
*.log

# Temporary or intermediate files
*.tmp
*.zip
*.tar.gz

# Data
/data/Twigger_Downloads/*
!/data/Twigger_Downloads/README.md

/data/Wu_downloads_GSE176078/*
!/data/Wu_downloads_GSE176078/README.md

# Results
# Ignore all Seurat objects
/results/seurat_objects/*.rds
!/results/README.md

