# R-specific files
.Rhistory
.RData
.Rproj.user/

# Output objects
*.rds
*.RData
*.log

# Temporary or intermediate files
*.tmp
*.zip
*.tar.gz


# Data
/data/Twigger_Downloads/*
# Allow README to stay
!/data/Twigger_Downloads/README.md

# Results
# Ignore all Seurat objects
/results/seurat_objects/*.rds
# Allow this README to stay
!/results/README.md
